# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
    - List popular languages for Data Science
    - List commonly used libraries used by Data Scientist
    - Create a markdown cell with a table of Data Science tools
    - List examples of evaluating arithmetic expressions in Python
    - Learn Simple arithmetic expression to mutiply then add integers

### Some of the popular languages that Data Scientists use are:
      1. Python
      2. R
      3. SQL
      4. Julia

### Some of the commonly used libraries used by Data Scientists include:
      1.TensorFlow
      2.NumPy
      3.SciPy
      4. Pandas
      5. Matplotlib

| Data Science Tools | 
| --------- |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |
| RapidMiner |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author

Tiago Rodrigues